/*<style>
.sqs-block-code .sqs-block-content .spacer1 {
  position: relative;
  display: block;
    height: 300px;
    margin-top: 0px;
}
  
@media only screen and (max-width: 1850px) {
.sqs-block-code .sqs-block-content .spacer1 {
    height: 250px;
}  
} 
  
@media only screen and (max-width: 1650px) {
.sqs-block-code .sqs-block-content .spacer1 {
    height: 150px;
}   
}   
  
@media only screen and (max-width: 1360px) {
.sqs-block-code .sqs-block-content .spacer1 {
    height: 175px;
}   
}

@media only screen and (max-width: 1200px) {
.sqs-block-code .sqs-block-content .spacer1 {
    height: 150px;
} 
}
  
@media only screen and (max-width: 1100px) {
.sqs-block-code .sqs-block-content .spacer1 {
    height: 125px;
} 
}  
  
@media only screen and (max-width: 1050px) {
.sqs-block-code .sqs-block-content .spacer1 {
    height: 100px;
}  
}
  
@media only screen and (max-width: 980px) {
.sqs-block-code .sqs-block-content .spacer1 {
    height: 80px;
}   
  
#block-3cd317406be8c4174c51 h1 {
  font-size: 25px;
}
  
#block-yui_3_17_2_4_1508538763527_22442 {
  margin-top: 0px;
  padding-top: 0px;
}  
  
}

  
  
@media only screen and (max-width: 860px) {
.sqs-block-code .sqs-block-content .spacer1 {
    height: 0px;
}   
}  

@media only screen and (max-width: 790px) {
.sqs-block-code .sqs-block-content .spacer1 {
    height: 10px;
 }
.Header-nav-inner {
font-size: 12px;     
width: 500px;
margin-left: -200px;
}    
}  
  
@media only screen and (max-width: 630px) {
.sqs-block-code .sqs-block-content .spacer1 {
    height: 0px;
}    
#block-3cd317406be8c4174c51 {
  margin-top: -50px;
  }
  #block-yui_3_17_2_4_1508538763527_22442 {
    margin-bottom: 45px;
  }
}
  
div.Mobile-bar.Mobile-bar--bottom { display : none !important;}
  
</style>

<div class="spacer1"></div>
<style>

</style>




*/
